%table.table
  %tr
    %th.col-xs-1 姓名
    %td.col-xs-2= employee.name
    %th.col-xs-1 銀行帳戶
    %td.col-xs-2= employee.bank_account
  %tr
    %th 身分證字號
    %td= employee.id_number
    %th 出生年月日
    %td= employee.birthday
  %tr
    %th 公司信箱
    %td= employee.company_email
    %th 私人信箱
    %td= employee.personal_email
  %tr
    %th 到職日期
    %td= employee.start_date
    %th 離職日期
    %td= employee.end_date
  %tr
    %th 戶籍地址
    %td{colspan: 3}= employee.residence_address
