%table.table
  %tr
    %th #
    %th 期間
    %th 身份
    %th 實發薪資
    %th 申報所得
    %th 操作
  - payrolls.each do |payroll|
    - if payroll.statement
      %tr
        %td= payroll.id
        %td= payroll.payment_period
        %td= payroll.role
        = payroll.statement.paid_amount_cell
        = payroll.statement.declared_income_cell
        %td
          = link_to "修改明細", edit_payroll_path(payroll), class: "btn btn-xs btn-default"
          = link_to "報表校正", edit_statement_path(payroll.statement), class: "btn btn-xs btn-warning"
          = link_to "刪除", payroll_path(payroll), method: :delete, data: { confirm: "確定刪除？" }, class: "btn btn-xs btn-danger"
