%h1 員工資料

%p
  = link_to "新增員工", new_employee_path, class: "btn btn-sm btn-primary"
  = link_to "月薪制", employees_path, class: "btn btn-sm btn-default"
  = link_to "兼職外包", parttimers_employees_path, class: "btn btn-sm btn-default"
  = link_to "閒置", inactive_employees_path, class: "btn btn-sm btn-default"

%table.table
  %tr
    %th #
    %th 姓名
    %th 身份
    %th 到職日期
    %th 操作
  - @result.each do |row|
    %tr
      %td= row.employee_id
      %td= row.name
      %td= row.given_role
      %td= row.term_start
      %td
        = link_to "檢視", employee_path(row.employee_id), class: "btn btn-xs btn-default"
        = link_to "修改", edit_employee_path(row.employee_id), class: "btn btn-xs btn-default"
        = link_to "刪除", employee_path(row.employee_id), method: :delete, data: { confirm: "確定刪除？" }, class: "btn btn-xs btn-danger"

= paginate @result
