= simple_form_for yearend_bonus do |f|
  = f.input_field :employee_id, hidden: true, value: presenter.employee_id
  = f.input_field :lunar_year_id, hidden: true, value: presenter.lunar_year_id
  %table.table
    %tr
      %th.col-xs-1 發放年度
      %td.col-xs-2= presenter.year
      %th.col-xs-1 年資折算基準日
      %td.col-xs-2= presenter.last_working_day
    %tr
      %th 員工姓名
      %td= presenter.name
      %th 當時身份
      %td= presenter.role
    %tr
      %th 平均月薪
      %td= f.input_field :average_salary, value: presenter.average_wage, readonly: true
      %th 年資調整
      %td= f.input_field :seniority_factor, value: presenter.seniority_factor, readonly: true
    %tr
      %th= f.label "發放月數"
      %td= f.input_field :multiplier
      %th= f.label "以薪資計算結果"
      %td= f.input_field :salary_based_bonus, readonly: true
    %tr
      %th= f.label "固定金額"
      %td= f.input_field :fixed_amount
      %th= f.label "尾牙現金"
      %td= f.input_field :cash_benefit
    %tr
      %th= f.label "所得稅"
      %td= f.input_field :income_tax, readonly: true
      %th= f.label "二代健保"
      %td= f.input_field :health_insurance, readonly: true
    %tr
      %th= f.label "實發金額（含現金）"
      %td{colspan: 3}= f.input_field :total, readonly: true

  .text-center
    = f.submit "送出"
