%table.table
  %tr
    %th #
    %th 員工
    %th 身份
    %th 計算月份
    %th 操作
  - payrolls.each do |payroll|
    %tr
      %td= payroll.id
      %td= payroll.employee_name
      %td= payroll.role
      %td= payroll.payment_period
      %td= render "statements", payroll: payroll

= paginate payrolls
