%h1 薪資單產生器

= search_form_for @q do |f|
  = f.search_field :year_eq
  = f.label "年"
  = f.search_field :month_eq
  = f.label "月"
  = f.submit "查詢"

= render "initiate_link"

%table.table
  %tr
    %th #
    %th 員工
    %th 身份
    %th 計算期間 
    %th 操作
  - @payrolls.each do |payroll|
    %tr
      %td= payroll.id
      %td= payroll.employee.name
      %td= payroll.employee.role_name
      %td= payroll.payment_period
      %td= render "statements", payroll: payroll
