%h1 #{params[:year]} 年 #{params[:month]} 月
%table.table
  %tr
    %th #
    %th 員工
    %th 操作
  - @payrolls.each do |payroll|
    %tr
      %td= payroll.id
      %td #{payroll.employee.name}（#{payroll.employee.role_name}）
      %td
        = link_to "員工資料", employee_path(payroll.employee), class: "btn btn-xs btn-default"
        = link_to "設定當月明細", edit_payroll_path(payroll), class: "btn btn-xs btn-default"
        = link_to "薪資單", statement_path(payroll), class: "btn btn-xs btn-info"
        = link_to "PDF", statement_path(payroll, format: :pdf), class: "btn btn-xs btn-info"
