<p>計算期間 <%= @payroll.period %></p>
<p>姓名 <%= @employee.name %></p>
<p>本薪 <%= @salary.base - 1800 %></p>
<p>午餐 1800</p>
<p>請假時數 <%= @payroll.leavetime_hours %> 扣 <%= @payroll.leavetime_deduction %> 元
<p>加班時數 <%= @payroll.overtime_hours %>
<p>誤餐費 <%= @payroll.overtime_meal_subsidy %> 元
<p>設備津貼 <%= @salary.equipment_subsidy %>
<p>交通津貼 <%= @salary.commuting_subsidy %>
<p>主管加給 <%= @salary.supervisor_allowance %>
<p>勞保費</p>
<p>健保費</p>
