%table.table
  %tr.warning
    %th 姓名
    %th 身份
    %th 計算期間 
    %th 實發薪資
    %th 操作
  - statements.each do |statement|
    %tr
      %td= statement.payroll.employee.name
      %td= statement.payroll.role
      %td= statement.payroll.payment_period
      %td= number_with_delimiter(statement.amount)
      %td
        = link_to "薪資單", statement_path(statement), class: "btn btn-xs btn-info"
        = link_to "PDF", statement_path(statement, format: :pdf), class: "btn btn-xs btn-info"

  %tr.info
    %th 總額
    %td
    %td
    %td= number_with_delimiter statements.map { |statement| statement.amount }.reduce(:+)
    %td

= paginate statements
