%h1 報表校正

= render template: @details[:template], details: @details

= link_to "薪資明細設定", edit_payroll_path(@statement.payroll), class: "btn btn-sm btn-default"

= simple_form_for @statement do |f|
  = render "correction_form", f: f
  .text-center
    = f.submit "送出"
