%h1 發薪紀錄

= search_form_for @q do |f|
  = f.search_field :year_eq
  = f.label "年"
  = f.search_field :month_eq
  = f.label "月"
  = f.submit "查詢"

- if params[:q]
  = render "list", statements: @statements
