%table.table
  %tr
    %th.col-xs-1= f.label "起薪日期"
    %td.col-xs-2= f.input_field :effective_date, type: :date
    %th.col-xs-1= f.label "身份"
    %td.col-xs-2= f.input_field :role, collection: { "老闆": "boss", "正職": "regular", "約聘": "contractor", "實習/工讀": "parttime", "顧問/講師": "advisor", "留職停薪": "absent" }
  %tr
    %th= f.label "月薪"
    %td= f.input_field :monthly_wage
    %th= f.label "所得稅別"
    %td= f.input_field :tax_code, collection: { "薪資": "50", "執行專業所得": "9a" }
  %tr
    %th= f.label "時薪"
    %td= f.input_field :hourly_wage
    %th= f.label "交通津貼"
    %td= f.input_field :commuting_subsidy
  %tr
    %th= f.label "設備津貼"
    %td= f.input_field :equipment_subsidy
    %th= f.label "主管加給"
    %td= f.input_field :supervisor_allowance
  %tr
    %th= f.label "勞保投保金額"
    %td= f.input_field :insured_for_labor
    %th= f.label "勞保費"
    %td= f.input_field :labor_insurance
  %tr
    %th= f.label "健保投保金額"
    %td= f.input_field :insured_for_health
    %th= f.label "健保費"
    %td= f.input_field :health_insurance
