%h1 年度報表
= form_tag(reports_path, method: :get) do |f|
  = select_tag :year, options_for_select(Report.years, (params[:year] || Date.today.year))
  = label_tag "年度"
  = select_tag :report_type, options_for_select(Report::INCOME_TYPE, params[:report_type])
  = submit_tag "送出"
