%h1 年度報表
= simple_form_for :query, url: reports_path, method: :get do |f|
  = f.input_field :year, collection: Report.years, selected: params[:year] || Time.zone.now.year
  = f.label "年度", required: false
  = f.input_field :income_type, collection: Report::INCOME_TYPE, selected: action_name
  = f.submit "送出"
