= render "header"

%h3 #{params[:year]} 年勞務報酬支出表
- if @report.any?
  %table.table
    %tr
      %th 姓名
      - 1.upto(12) do |month|
        %th= "#{month} 月"
    - @report.each do |row|
      %tr
        %td= row[:name]
        - 12.times do |month|
          = render "cell", cell: row[:income][month]
