<!DOCTYPE html>
<html>
  <head>
    <title>Fortuna</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body class="<%= controller_name %>" id="<%= action_name %>">
    <%= yield %>
  </body>
</html>
