<!DOCTYPE html>
<html>
  <head>
    <title>Fortuna</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag controller_name %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body class="<%= controller_name %>" id="<%= action_name %>">
    <div class="navbar">
      <%= link_to "員工資料", employees_path, class: "btn btn-default" %>
      <%= link_to "薪資單產生器", payrolls_path, class: "btn btn-default" %>
      <%= link_to "發薪紀錄", statements_path, class: "btn btn-default" %>
      <%= link_to "年度報表", reports_path, class: "btn btn-default" %>
    </div>
    <%= yield %>
  </body>
</html>
